body {
  background-color: black;
}

.light {
  width: 9%;
  height: 15px;
  background-color: #fff2f2;
  margin: 0px 3px 0px 0px;
  float: left;
  border-radius: 2px;
}

.container {
  margin: auto;
  width: 90%;
  height: 25px;
  padding: 5px;
}

.control {
  width: 130px;
  margin: auto;
}

.light.active {
  background-color: red;
  box-shadow: 0 0 10px 5px rgb(249, 54, 54);
}

.light.partial {
  background-color: rgb(241, 111, 111);
}
